<div class="wrapper">

<div class="sub_title_post">
<%= @post.title %>
<div class="date_post"><%= @post.created_at.strftime("%A %B %d, %Y")%></div>
</div>

<br>

<div class="body">
<%= markdown @post.content %>
</div>
<br>
<br>
<div class="center_button">
<%=link_to "Edit", edit_post_path(@post), class: "private_button"%><%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "private_button" %></div>
</div>