<!DOCTYPE html>
<html>
<head>
	<title>Chris Davis - Developer and Designer</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

	<header id="main-navigation">
		<div class="skew">
		<div id="logo"><%= image_tag 'Lion_Logo.png', alt: 'Lion', class: 'img_main'%></div>
			<a href="index.html" class="name highlight_black">Chris Davis</a>
				
				<nav>
					<a href="contact.html" class="nav_link highlight_black">Contact</a>
					<a href="about.html" class="nav_link highlight_black">About</a>
					<a href="articles.html" class="nav_link disappear_small highlight_black">Articles</a>
					<a href="projects.html" class="nav_link disappear_small highlight_black">Projects</a>
				</nav>
	    </div>
	</header>
<body>

<div id="sidebar" class="disappear_small">
		<div class="social_media disappear_small">
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-github"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
		</div>
		<p id="copyright" class="disappear_small">&copy;2015 Chris Davis</p>
	</div>


<%= yield %>



</body>
</html>








